body{
    margin:0px;
}
#myChart{
    max-width:800px;
    max-height:400px;
    padding:10px;
    margin:auto;
}
.main-paper{
    text-align: center;
    padding:20px;
}
.chip{
    margin: 4px !important;
}
.chips{
    display: flex;
    flex-wrap: wrap;
}